.media-block {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &--video {
    div {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($main1, .4);
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      width: 72px;
      height: 72px;
      transform: translate(-50%, -50%);
    }
  }

  div {
    display: block;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    img {
      @include coverFull();
    }
  }

  figcaption {
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: $gray;

    @include r($tablet) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}