.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 41px 21px;
  width: max-content;

  font-family: $font-accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: $main1;

  background-color: $bg;
  border: 1px solid $main1;
  border-radius: 37px;

  @include r($tablet) {
    padding: 12px 21px;

    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
  }
}