.direction {
  display: flex;
  justify-content: flex-end;
  margin-bottom: auto;

  @include r($mobile) {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1px;

    @include r($tablet) {
      gap: 15px;
    }

    @include r($mobile) {
      flex-direction: row;
      flex-shrink: 0;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__item {
    cursor: pointer;

    @include r($mobile) {
      white-space: nowrap;
    }

    &:hover {
      span {
        color: $main3;
      }
    }

    span {
      font-family: $font-main;
      font-size: 70px;
      font-weight: 400;
      line-height: 91px;
      text-transform: uppercase;
      color: $gray_light;
      transition: .2s linear;

      @include r($tablet) {
        font-size: 35px;
        line-height: 42px;
      }

      @include r($mobile) {
        font-size: 32px;
      }
    }

    &.active {
      span {
        color: $main3;
      }
    }
  }
}