.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 1;

  @include r($tablet) {
    max-width: 768px;
    padding: 0 30px;
  }

  @include r($mobile) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &--full {
    height: 100%;
  }
}
