.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 24px 12px;

  font-family: $font-accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $main1;
  border: 1px solid $main1;
  border-radius: 35px;

  vertical-align: middle;
  transition: .2s linear;

  &:hover {
    background-color: $blue_hover;
  }

  &:active {
    background-color: $blue_active;
  }

  &:focus {
    outline: 3px solid $outline;
    outline-offset: 4px;
  }

  @include r($tablet) {
    height: auto;
    padding: 7px 8px;

    font-size: 12px;
    line-height: 1;

    border-radius: 15px;
  }

  &--wide {
    padding: 19px 20px;
    width: 100%;
    height: auto;

    @include r($tablet) {
      padding: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-align: center;
    }
  }
}

.button-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 8px;
  width: 210px;
  height: 210px;
  padding: 0 36px;

  border: 1px solid $main1;
  background-color: $main1;
  border-radius: 50%;

  transition: .2s linear;

  &:hover {
    background-color: $blue_hover;
  }

  &:active {
    background-color: $blue_active;
    outline: none;
  }

  &:focus {
    outline: 3px solid $outline;
    outline-offset: 4px;
  }

  &[disabled] {
    background-color: $bg;
    border-color: $bg;

    span {
      color: $disabled_text;
    }

    .button-circle__icon {
      fill: $disabled_text;
    }
  }

  @include r($tablet) {
    gap: 5px;
    width: 122px;
    height: 122px;
  }

  &__icon {
    display: flex;
    width: 72px;
    height: 72px;
    fill: $white;

    @include r($tablet) {
      width: 42px;
      height: 42px;
    }

    &--long {
      width: 72px;
      height: 72px;

      @include r($tablet) {
        width: 45px;
        height: 42px;
      }
    }
  }

  span {
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @include r($tablet) {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  &--small {
    gap: 6px;
    width: 160px;
    height: 160px;
    padding: 0;

    @include r($tablet) {
      width: 122px;
      height: 122px;
    }


    .button-circle__icon {
      width: 44px;
      height: 44px;
    }

    span {
      @include r($tablet) {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }
    }
  }

  &--light {
    border-color: $white;

    &:hover {
      background-color: $white;

      span {
        color: $main1;
      }

      .button-circle__icon {
        fill: $main1;
      }
    }

    &:active {
      background-color: $white;

      span {
        color: $blue_active;
      }

      .button-circle__icon {
        fill: $blue_active;
      }
    }

    &:focus {
      outline: 3px solid $outline;
      outline-offset: 4px;
    }

    &[disabled] {
      background-color: transparent;
      border-color: $outline;

      span {
        color: $disabled_text;
      }

      .button-circle__icon {
        fill: $disabled_text;
      }
    }
  }

  &--right {
    align-self: flex-end;
  }

  &--stay {
    transition: initial;
  }
}