.services {
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;

  @include r($tablet) {
    gap: 30px;
  }

  @include r($mobile) {
    gap: 18px;
  }

  @include r($mobile) {
    margin-left: -20px;
    margin-right: -20px;
    min-width: 100%;
  }

  &--counter {
    .services__content {
      min-height: 624px;

      @include r($tablet) {
        min-height: 439px;
      }

      @include r($mobile) {
        min-height: 590px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include r($tablet) {
      gap: 10px;
    }

    @include r($mobile) {
      overflow-x: auto;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 755px;

    @include r($tablet) {
      min-height: 517px;
    }

    @include r($mobile) {
      min-height: 697px;
    }

    &--gradient {
      & > article {
        &:nth-child(1) {
          background-color: #032183;
        }

        &:nth-child(2) {
          background-color: #002DBF;
        }

        &:nth-child(3) {
          background-color: #0234D5;
        }

        &:nth-child(4) {
          background-color: #0238E7;
        }

        &:nth-child(5) {
          background-color: #043BEB;
        }

        &:nth-child(6) {
          background-color: #134AFF;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 20px;

    font-family: $font-accent;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    color: $main1;

    border-radius: 100px;
    transition: .2s linear;

    @include r($tablet) {
      padding: 13px 10px;
      font-size: 12px;
      line-height: 14px;
    }

    &:first-child,
    &:last-child {
      cursor: pointer;
    }

    &.active {
      color: $white;
      background-color: $main1;
    }
  }
}