.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  min-height: 155px;
  z-index: 4;
  transform: translate(0, -100%);

  @include r($tablet) {
    min-height: 142px;
  }

  @include r($mobile) {
    min-height: 115px;
  }

  &--page {
    padding-top: 47px;
    min-height: 155px;

    @include r($tablet) {
      padding-top: 20px;
      min-height: 100px;
    }

    @include r($mobile) {
      padding-top: 30px;
      min-height: 115px;
    }

    .logo {
      max-width: 209px;
    }
  }

  &--blur {
    backdrop-filter: blur(6px);
    background-color: #F0F0FF6E;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 4;
  }

  &__user-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 670px;

    @include r($tablet) {
      min-width: auto;
    }
  }

  & > .container {
    @include r($tablet) {
      z-index: 4;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.light {
      .header__icon-logo {
        fill: $bg;
      }
      .header__page {
        color: $white;
      }
    }

    &.short {
      .header__icon-logo {
        width: 62px;
        height: 62px;

        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }

        @include r($tablet) {
          width: 36px;
          height: 36px;
        }

        @include r($mobile) {
          width: 27px;
          height: 27px;
        }
      }
      p {
        opacity: 0;
      }
    }
  }

  &__page {
    font-family: $font-accent;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $main3;
    transition: .2s linear;
  }

  &__icon-logo {
    display: flex;
    width: 209px;
    height: 62px;
    fill: $main3;
    transition: .2s linear;

    &:nth-child(2) {
      display: none;
    }

    @include r($tablet) {
      width: 124px;
      height: 66px;
    }

    @include r($mobile) {
      width: 94px;
      height: 27px;
    }
  }

  &__search {
    display: flex;
    flex-shrink: 0;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include r($tablet) {
      margin-right: 20px;
      width: 25px;
      height: 25px;
    }
  }
}
