.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  z-index: 3;
  transform: translate(0, -100%);

  @include r($tablet) {

  }

  @include r($mobile) {
    padding-top: 20px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 4;
  }

  &__user-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & > .container {
    @include r($tablet) {
      z-index: 4;
    }
  }

  &__logo {
    display: flex;

    &.light {
      .header__icon-logo {
        fill: $bg;
      }
    }
  }

  &__icon-logo {
    display: flex;
    width: 208px;
    height: 108px;
    fill: $main3;
    transition: .2s linear;

    @include r($tablet) {
      width: 124px;
      height: 66px;
    }

    @include r($mobile) {
      width: 94px;
      height: 56px;
    }
  }
}