.people {
  display: flex;
  flex-direction: column;
  gap: 88px;
  padding: 30px;
  border-radius: 25px;
  background-color: $main1;
  overflow: hidden;

  @include r($tablet) {
    gap: 32px;
    padding: 20px;
  }

  @include r($mobile) {
    gap: 57px;
    padding: 15px;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 25px;

    @include r($tablet) {
      gap: 8px;
    }
  }

  &__title {
    font-family: $font-main;
    font-size: 42px;
    font-weight: 400;
    line-height: 54.6px;
    text-align: left;
    text-transform: uppercase;
    color: $white;

    @include r($tablet) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .button-circle {
    @include r($mobile) {
      width: 105px;
      height: 108px;
    }
  }
}