.title {
  @include h2();
  text-transform: uppercase;

  &--light {
    position: relative;
    color: $white;
  }

  &--main {
    display: flex;
    flex-direction: column;
    @include h1();

    span {
      display: block;
    }
  }

  &--small {
    @include h3();
  }

  &--extra-small {
    @include h4()
  }

  &--temp {
    @include r($tablet) {
      width: 352px;
    }
  }

  &--big {
    font-family: $font-main;
    font-size: 38px;
    font-weight: 400;
    line-height: 51.3px;
    text-align: left;
    color: $main3;
  }
}
