.article-service {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 40px;
  height: auto;
  width: 100%;
  background-color: $main3;
  border-radius: 35px;
  box-shadow: 0 0 30px 0 #0A274D26;
  transform-origin: 50% 0;

  @include r($tablet) {
    height: auto;
  }

  @include r($mobile) {
    max-height: 664px;
  }

  &:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }

  //
  //&:nth-child(2) {
  //  top: 60px
  //}
  //
  //&:nth-child(3) {
  //  top: 100px
  //}
  //
  //@for $i from 1 through 10 {
  //  &:nth-child(#{$i}) {
  //    top: 14% * ($i - 1);
  //  }
  //}

  @include r($tablet) {
    gap: 30px;
    padding: 25px 20px 25px 25px;
    border-radius: 25px;
  }

  @include r($mobile) {
    gap: 20px;
    padding: 20px 15px;
  }

  &--light {
    background-color: $main1;

    .projects__item {
      border-color: $main1;
    }
  }

  &__header,
  &__info,
  &__footer {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(400px, 610px) minmax(400px, 630px);
    gap: 40px;

    @include r($tablet) {
      grid-template-columns: minmax(200px, 293px) minmax(250px, 350px);
      gap: 20px;
    }

    @include r($mobile) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--info {
    justify-content: space-between;
    min-height: 504px;
    padding: 40px;

    @include r($tablet) {
      min-height: 319px;
      padding: 20px;
    }

    @include r($mobile) {
      min-height: 470px;
      justify-content: flex-start;
    }

    .article-service__header,
    .article-service__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .article-service__header {
      @include r($mobile) {
        flex-direction: row;
      }
    }

    .article-service__info {
      align-items: flex-end;
    }

    .article-service__text {
      @include r($tablet) {
        max-width: 260px;
      }

      @include r($mobile) {
        max-width: 100%;
      }
    }
  }

  &__count {
    font-family: $font-main;
    font-size: 158px;
    font-weight: 400;
    line-height: 158px;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 16.28%, rgba(255, 255, 255, 0) 130.98%);
    background-clip: text;
    color: transparent;
    opacity: .2;

    @include r($tablet) {
      font-size: 90px;
      line-height: 121px;
    }

    @include r($mobile) {
      display: none;
    }
  }

  &__footer {
    margin-top: auto;
    @include r($mobile) {
      flex-direction: column-reverse;
    }
  }

  &__title {
    font-family: $font-main;
    font-size: 42px;
    font-weight: 400;
    line-height: 55px;

    @include r($tablet) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__title,
  &__head {
    color: $white;

    @include r($tablet) {
      br {
        display: none;
      }
    }
  }

  &__text {
    max-width: 400px;
    @include text2($white)
  }

  &__list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;

    @include r($tablet) {
      gap: 10px;
    }

    &--end {
      justify-content: flex-end;

      .article-service__element {
        width: auto;
      }
    }
  }

  &__element {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    @include r($tablet) {
      gap: 5px;
      width: auto;
    }

    @include r($mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    span {
      font-family: $font-accent;
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
      text-align: left;
      color: $white;

      @include r($tablet) {
        font-size: 12px;
        line-height: 12px;
      }

      &:first-child {
        font-family: $font-main;
        font-size: 32px;
        line-height: 35px;
        text-align: left;

        @include r($tablet) {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }

        @include r($mobile) {
          font-size: 28px;
          font-weight: 400;
          line-height: 34px;
        }
      }
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include r($mobile) {
      gap: 10px;
    }
  }

  &__tags {
    margin-left: auto;
    max-width: 450px;

    &--full {
      max-width: 100%;

      .tag {
        padding: 13px 10px;
      }
    }
  }

  &__button {
    align-self: flex-end;
    justify-self: flex-start;
    width: auto;
    height: auto;
    padding: 20px;
    border-color: $white;
    background-color: $white;
    font-family: $font-accent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: $main1;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
    }
  }
}