.article-vacancy {
  gap: 16px;
  padding: 20px 15px;
  min-height: 212px;

  @include r($tablet) {
    gap: 10px;
    padding: 15px 10px;
    min-height: 150px;
  }

  &__title {
    @include h4();
    text-transform: uppercase;
  }

  &__text {
    @include text3($main3_40);
  }
}