.article-info {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  height: 434px;
  padding: 25px;
  background-color: $white;
  border-radius: 25px;

  @include r($tablet) {
    padding: 15px;
    height: 240px;
    border-radius: 15px;
  }

  @include r($mobile) {
    height: 230px;
  }

  &:not(:first-child) {
    box-shadow: 0 0 30.5px 0 #7B869426;
  }

  &:nth-child(3) {
    margin-top: -64%;

    @include r($mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(4) {
    margin-top: -100%;

    @include r($mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(5) {
    margin-top: -100%;

    @include r($mobile) {
      margin-top: 0;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    @include r($tablet) {
      gap: 10px;
      margin-bottom: 10px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 20px;

    @include r($tablet) {
      gap: 15px;
    }
  }

  &__logo {
    display: flex;

    @include r($tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    @include h4();
    text-transform: uppercase;
  }

  &__text {
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: $main3_40;

    @include r($tablet) {
      font-size: 14px;
      line-height: 16.8px;
    }

    @include r($mobile) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;

    @include r($tablet) {
      gap: 5px;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    @include r($tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &--text {
    gap: 15px;
    height: 381px;

    @include r($tablet) {
      gap: 10px;
      height: 240px;
      border-radius: 15px;
    }

    @include r($mobile) {
      height: 230px;
    }

    &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(4) {
      margin-top: 0;
    }

    &:nth-child(5) {
      margin-top: 0;
    }

    .article-info__top {
      gap: 15px;
      margin-bottom: 0;

      @include r($tablet) {
        gap: 10px;
      }
    }

    .article-info__body {
      flex-grow: 1;
      overflow-y: auto;
    }

    .article-info__title {
      @include h3();
    }
  }

  &__pretitle {
    @include text2($main3_40);

    @include r($tablet) {
      font-family: $font-accent;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
    }

    &--dark {
      color: $main3;
    }
  }
}