root {
  --blue-layout-top: 0;
  --blue-layout-height: 150%;
}

.section {
  &--radius {
    border-radius: 95px;

    @include r($tablet) {
      border-radius: 60px;
    }

    @include r($mobile) {
      border-radius: 30px;
    }
  }

  &--blue {
    position: relative;
    background-color: $main1;
  }

  &--blue-animate {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: var(--blue-layout-top);
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      height: var(--blue-layout-height);
      background-color: $main1;
      border-radius: 95px;

      @include r($tablet) {
        border-radius: 60px;
      }

      @include r($mobile) {
        border-radius: 30px;
      }
    }
  }

  &--bg {
    background-image: url("../assets/images/intro-bg.png");
    background-repeat: no-repeat;
    background-position: center top;

    @include r($tablet) {
      background-image: url("../assets/images/intro-bg-tab.png");
    }
  }

  &--radial {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 75px;
      left: 57%;
      display: flex;
      width: 605.85px;
      height: 629px;
      background: radial-gradient(74.88% 81.79% at 77.14% 63.77%, rgba(240, 240, 255, 0) 0%, rgba(240, 240, 255, 0.4) 73.02%, #F0F0FF 100%);
      transform: translateX(-50%) rotate(7.79deg);
      z-index: 0;

      @include r($tablet) {
        display: none;
      }
    }
  }

  &--intro {
    height: 100vh;
    max-height: 851px;

    @include r($tablet) {
      max-height: 650px;
    }
  }

  &--full {
    @include r($mobile) {
      max-height: 100%;
      min-height: 1100px;
    }
  }
}