.section {
  &--radius {
    border-radius: 95px;

    @include r($tablet) {
      border-radius: 60px;
    }
  }

  &--blue {
    background-color: $main1;
  }

  &--bg {
    background-image: url("../assets/images/intro-bg.png");
    background-repeat: no-repeat;
    background-position: center top;

    @include r($tablet) {
      background-image: url("../assets/images/intro-bg-tab.png");
    }
  }

  &--radial {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 75px;
      left: 57%;
      display: flex;
      width: 605.85px;
      height: 629px;
      background: radial-gradient(74.88% 81.79% at 77.14% 63.77%, rgba(240, 240, 255, 0) 0%, rgba(240, 240, 255, 0.4) 73.02%, #F0F0FF 100%);
      transform: translateX(-50%) rotate(7.79deg);
      z-index: 0;

      @include r($tablet) {
        display: none;
      }
    }
  }
}