<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerPages %>
<div class="spline-container mob-hidden">
    <canvas class="spline-canvas"></canvas>
</div>
<main class="main">
    <section class="section section--preview section--bg section--main animate-intro-left mbm-20">
        <div class="intro">
            <div class="container">
                <div class="grid grid--end mbm-20">
                    <div class="grid__item grid__item--3 grid__item-tab--6 grid__item-mob--4 mbm-20">
                        <p class="subtitle anim-in-bottom" data-anim-delay="0.1">Новости и события</p>
                        <h1 class="title title--main anim-in-bottom-stagger">
                            <span>Форс на Kazan Digital Week 2024</span>
                        </h1>
                    </div>
                    <div class="grid__item--3 grid__item-tab--6 grid__item-mob--4">
                        <picture class="detail-preview">
                            <img src="./assets/images/detail-preview-4.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section trigger-detail-page pt-70 pbt-60 mbm-20">
        <div class="container">
            <div class="grid">
                <div class="grid__item--3 grid__item-tab--12 grid__item-mob-4 mbt-60">
                    <div class="detail-ui">
                        <div class="detail-ui__header">
                            <div class="tags tags--card">
                                <div class="action-tag action-tag--default action-tag--light">
                                    <span>Новость</span>
                                </div>
                                <div class="action-tag action-tag--default action-tag--light">
                                    <span>Медиаконтент</span>
                                </div>
                            </div>
                        </div>
                        <time class="detail-ui__time">12.09.2024</time>
                    </div>
                </div>
                <div class="grid__item--3 grid__item-tab--12 grid__item-mob-4">
                    <div class="editor">
                        <h3>
                            Специалисты Форс приняли участие в работе Международного форума в Казани, проходившего с 9
                            по 11 сентября. В этом году Форум состоялся в четвёртый раз
                        </h3>
                        <br>
                        <p>
                            <a href="#">Kazan Digital Week</a> — это крупнейшее мероприятие в сфере ИТ, престижная
                            площадка, на которой
                            выступили представители высшего руководства страны. Цель мероприятия — содействие в обмене
                            научно-технической информацией, консолидация усилий для скорейшего решения задач
                            импортозамещения и обеспечения технологического суверенитета России. Работа шла по 10
                            основным направлениям, включающим цифровые технологии в государственном управлении,
                            культуре, сельском хозяйстве, образовании, здравоохранении, медицине, транспорте и др.
                        </p>
                        <br>
                        <br>
                        <div class="slider" data-slider="default" data-slides="1">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <figure class="media-block">
                                            <div>
                                                <img src="./assets/images/detail-img-1.png" alt="">
                                            </div>
                                            <figcaption>Заголовок фото (опционально)</figcaption>
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="media-block">
                                            <div>
                                                <img src="./assets/images/detail-img-1.png" alt="">
                                            </div>
                                            <figcaption>Заголовок фото (опционально)</figcaption>
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="media-block">
                                            <div>
                                                <img src="./assets/images/detail-img-1.png" alt="">
                                            </div>
                                            <figcaption>Заголовок фото (опционально)</figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-controls">
                                    <button class="swiper-button swiper-button--prev">
                                        <svg class="swiper-icon">
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </button>
                                    <div class="swiper-pagination"></div>
                                    <button class="swiper-button swiper-button--next">
                                        <svg class="swiper-icon">
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="quote">
                            <p class="quote__text">
                                Разработка четырёх специальных моторных тестов для кисти руки стала новым серьёзным
                                шагом в развитии нашего мобильного приложения. При помощи камеры смартфона и посредством
                                нажатия на экран пациентом они анализируют скорость и амплитуду движения его пальцев и
                                кисти руки. Можно сказать, что мы выполнили цифровизацию классических неврологических
                                тестов.
                            </p>
                            <div class="quote__footer">
                                <div class="quote__user">
                                    <picture class="quote__picture">
                                        <img src="./assets/images/user-4.png" alt="">
                                    </picture>
                                    <div class="quote__info">
                                        <h3 class="quote__title">Дарья Голосова</h3>
                                        <p class="quote__description">
                                            Первый заместитель
                                            Генерального директора
                                            компании «Ай-Форс» (ГК Форс)
                                        </p>
                                    </div>
                                </div>
                                <svg class="quote__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-quotes"></use>
                                </svg>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h3>рабочие дискуссии</h3>
                        <br>
                        <p>Эксперты Форс участвовали в рабочих дискуссиях на двух закрытых сессиях Минцифры РФ:</p>
                        <br>
                        <ul>
                            <li>реализация платформы «Мой спорт»</li>
                            <li>ПГС – развитие Low Code для разработчиков</li>
                        </ul>
                        <br>
                        <p>
                            Обсуждения в каждой из этих рабочих групп вызвали живой интерес участников, которые смогли
                            поделиться своими идеями и предложениями по повестке дня. При этом специалисты Форс
                            опирались, прежде всего, на практический опыт, полученный в ходе внедрения соответствующих
                            отраслевых цифровых сервисов, в том числе, с использованием Low code платформы ПГС.
                        </p>
                        <br>
                        <a download href="#">Скачать приложение</a>
                        <br>
                        <br>
                        <h3>Делегаты</h3>
                        <br>
                        <p>Делегатами от Форс были:</p>
                        <br>
                        <ul>
                            <li>Андрей Бурин
                                директор департамента по работе с государственным сектором
                            </li>
                            <li>Александр Потапов
                                функциональный архитектор отделения разработки информационных систем
                            </li>
                            <li>Ольга Иванова
                                руководитель аналитического отдела
                            </li>
                            <li>Елена Беляева
                                ведущий менеджер департамента по работе с государственным сектором
                            </li>
                        </ul>
                        <br>
                        <br>
                        <figure class="media-block media-block--video" data-fancybox data-src="https://rutube.ru/play/embed/ef1ea10aed568ee793f2a2af0bb55b00/">
                            <div>
                                <img src="./assets/images/detail-img-1.png" alt="">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                </svg>
                            </div>
                            <figcaption>Заголовок видео (опционально)</figcaption>
                        </figure>
                        <br>
                        <br>
                        <p>
                            Второй доклад был посвящен эко-системе инструментальных средств, разработанных
                            специалистами <a href="#">Форс Телеком</a> для управления сценариями миграции больших объёмов данных из
                            Oracle в PostgreSQL. Презентацию провел технический директор ФОРС Телеком Александр
                            Любушкин.
                        </p>
                        <p>
                            Данная эко-система включает <a href="#">LUI4Ora2Pg</a> — инструмент автоматизации, планирования и управления
                            процессами миграции, <a href="#">Ora2PgCopy</a> для высокоскоростного переноса данных из одной СУБД в другую
                            и Ora2PgSync для реализации инкрементальной миграции данных. Все эти продукты
                            сертифицированы и включены в Реестр российского ПО. Ряд успешных внедрений доказал их
                            эффективность на практике.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="footer__separator"></div>
    <div class="container">
        <div class="footer__wrapper">
            <div class="site-nav anim-in-bottom-stagger">
                <div class="site-nav__item">
                    <h4 class="site-nav__title">О компании</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Новости</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Проекты</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Решения</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Услуги</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Центр технической поддержки</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Разработка информационных систем</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Обучение</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Импортозамещение</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Консалтинг</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Карьера</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Вакансии</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Начало карьеры</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Команда единомышленников</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Атмосфера</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Вопросы и ответы</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Контакты</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Где нас найти</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Контакты для прессы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__info">
                    <a href="#" class="footer__logo logo mob-hidden">
                        <img src="./assets/images/logo-small.svg" alt="">
                    </a>
                    <p class="footer__text">1991–2024. © ФОРС</p>
                    <p class="footer__text footer__text--copyright">© 2024,  Zephyr / design <br class="tab-hidden-min"> by <a href="#">Roman Kvartalnov</a></p>
                </div>
                <div class="footer__meta">
                    <a href="#" class="footer__text">+7 495 787 70 40 / info@fors.ru</a>
                    <a href="#" class="footer__text">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
    <picture class="footer__cube">
        <img src="./assets/images/menu-cube.png" alt="">
    </picture>
</footer>
<%= htmlWebpackPlugin.options.widgets.temp %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
</body>
</html>
