.pagination {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  flex-wrap: wrap;
  gap: 5px;

  @include r($tablet) {
    grid-template-columns: repeat(3, 18px);
  }

  @include r($mobile) {
    grid-template-columns: repeat(3, 30px);
  }

  &--slim {
    grid-template-columns: repeat(2, 40px);

    @include r($tablet) {
      grid-template-columns: repeat(2, 18px);
    }

    @include r($mobile) {
      grid-template-columns: repeat(2, 30px);
    }
  }

  &__item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba($main1, .07);
    cursor: pointer;

    @include r($tablet) {
      width: 18px;
      height: 18px;
    }

    @include r($mobile) {
      width: 30px;
      height: 30px;
    }

    &.active {
      background-color: $main1;
      transition: .2s linear;
    }
  }
}