.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;

  @include r($mobile) {
    align-items: flex-start;
    gap: 20px;
  }

  &__title {
    @include h3();
    text-transform: uppercase;
  }
}