.widget-video {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 496px;
  z-index: 0;

  @include r($tablet) {
    gap: 10px;
  }

  @include r($mobile) {
    gap: 20px;
  }

  &--center {
    align-items: center;
  }

  &--blue {
    .widget-video__picture {
      border-color: $main1;
    }
  }

  &--default {
    .widget-video__picture {
      &::after {
        display: none;
      }
    }
  }

  &__picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 11px solid $white;
    background-color: $white;
    overflow: hidden;
    cursor: pointer;

    @include r($tablet) {
      margin: 0;
      width: 110px;
      height: 110px;
      border-width: 6px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba($main1, .4);
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    @include r($tablet) {
      gap: 19px;
    }

    @include r($mobile) {
      gap: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include r($tablet) {
      gap: 10px;
    }
  }

  &__title {
    @include h5();
  }

  &__text {
    @include text3();
    @include r($mobile) {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__button {
    height: auto;
    padding: 20px 12px;
    text-transform: uppercase;
    min-width: 256px;

    @include r($tablet) {
      width: max-content;
      padding: 9px 20px;
      text-transform: uppercase;
      min-width: 169px;
    }

    @include r($mobile) {
      min-width: 145px;
    }
  }

  &--small {
    align-items: center;

    .widget-video__detail {
      gap: 30px;

      @include r($tablet) {
        gap: 10px;
      }
    }

    .widget-video__picture {
      width: 130px;
      height: 130px;
      border-width: 5px;

      @include r($tablet) {
        width: 80px;
        height: 80px;
        border-width: 4px;
      }

      &::after {
        display: none;
      }

      img {
        @include coverFull()
      }
    }

    .button {
      min-width: 249px;
      padding: 20px 16px;
      font-family: $font-accent;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      color: $main1;
      background-color: $white;
      border-color: $white;

      @include r($tablet) {
        min-width: 153px;
        padding: 5px 20px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
      }
    }
  }

  &--light {
    .widget-video__title,
    .widget-video__text {
      color: $white;
    }
  }

  .button {
    font-size: 15px;

    @include r($tablet) {
      font-size: 12px;
    }
  }
}