.widget-stats {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 19px;
  padding: 25px;
  box-shadow: 0 0 60px 0 #213A5B2E;

  @include r($tablet) {
    grid-column: span 5;
    gap: 10px;
    padding: 10px;
    max-height: 110px;
  }

  @include r($mobile) {
    gap: 40px;
    height: 163px;
    max-height: 163px;
    padding: 15px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    height: 100%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__picture {
    display: flex;
  }
}