.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100%;
  background-color: $white;
  border-radius: 25px;

  @include r($tablet) {
    padding: 10px;
    border-radius: 15px;
  }

  &--offset {
    padding: 30px;

    @include r($tablet) {
      padding: 30px 20px;
    }

    @include r($mobile) {
      padding: 25px 15px;
    }
  }

  &--height {
    min-height: 720px;

    @include r($tablet) {
      min-height: 606px;
    }

    @include r($mobile) {
      min-height: 567px;
    }
  }
}