.tags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;

  &--left {
    justify-content: flex-start;
  }

  &--card {
    justify-content: flex-start;
    gap: 10px;

    @include r($tablet) {
      gap: 5px;
    }
  }
}