.action-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 2.5px 15px 2.5px 10px;
  border-radius: 4px;
  background-color: $main1;

  @include r($tablet) {
    gap: 5px;
    padding: 5px;
  }

  @include r($mobile) {
    padding: 5px 10px;
  }

  &__icon {
    display: flex;
    width: 25px;
    height: 25px;

    @include r($tablet) {
      width: 12px;
      height: 12px;
    }
  }

  span {
    font-family: $font-accent;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    color: $white;

    @include r($tablet) {
      font-size: 12px;
      line-height: 12px;
    }
  }
  
  &--light {
    background-color: $main1_15;

    span {
      color: $main3;
    }
  }

  &--default {
    padding: 7.5px 10px;

    @include r($tablet) {
      padding: 5px;
    }
  }
}