.link {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    @include text2();
    color: $main3;
  }

  svg {
    display: flex;
    width: 25px;
    height: 25px;
    transform: rotate(-90deg);
    fill: $main3;
  }
}