.caption {
  font-family: $font-accent;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $gray;

  @include r($tablet) {
    font-family: $font-accent;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
  }

  @include r($mobile) {
    font-size: 6.63px;
    line-height: 7.95px;
  }
}