.numbers {
  font-family: $font-main;
  font-size: 32px;
  font-weight: 400;
  line-height: 47.42px;
  text-align: left;
  color: $main1;

  @include r($tablet) {
    font-size: 18px;
    line-height: 21.6px;
  }

  @include r($mobile) {
    font-size: 13.25px;
    line-height: 15.9px;
  }

  &--dark {
    color: $dark;
  }
}