.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  @include r($mobile) {
    justify-content: flex-start;
    padding-top: 176px;
  }

  &--between {
    justify-content: space-between;

    @include r($mobile) {
      padding-top: 0;
    }
  }
}