.site-nav {
  display: grid;
  grid-template-columns: repeat(4, 209px);
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 168px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) -35.8%, #FFFFFF 45.15%);
  z-index: 1;

  @include r($tablet) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }

  @include r($mobile) {
    grid-template-columns: repeat(2, 1fr);
  }


  &__title {
    font-family: $font-main;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    text-transform: uppercase;
    color: $main3;

    @include r($tablet) {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include r($tablet) {
      gap: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    @include text3($main3_40);
  }
}