.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include r($tablet) {
    gap: 15px;
  }

  @include r($mobile) {
    gap: 10px;
  }

  &__item {
    &--meta {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      span {
        font-family: $font-accent;
        font-size: 15px;
        line-height: 18px;

        @include r($tablet) {
          font-size: 12px;
          line-height: 14px;
        }

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &--area {
      position: relative;
    }
  }

  &__max {
    position: absolute;
    right: 15px;
    bottom: 18px;
    font-family: $font-accent;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    color: $gray_light;
    pointer-events: none;
  }
}