.layering {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 621px;
  overflow: hidden;

  @include r($tablet) {
    gap: 10px;
    max-height: 290px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 274px;
    background: linear-gradient(179.11deg, rgba(19, 74, 255, 0) 24.56%, #134AFF 52.18%);

    @include r($tablet) {
      height: 89px;
      background: linear-gradient(180.01deg, rgba(19, 74, 255, 0) 45.17%, #134AFF 76.75%);
    }
  }

  &--light {
    height: 631px;

    @include r($tablet) {
      gap: 10px;
      max-height: 290px;
    }

    &::after {
      height: 225px;
      background: linear-gradient(180deg, rgba(240, 240, 255, 0) 14.82%, #F0F0FF 38.8%);

      @include r($tablet) {
        height: 50px;
        background: linear-gradient(180deg, rgba(240, 240, 255, 0) 14.82%, #F0F0FF 38.8%);
      }
    }
  }
}