.layering {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 625px;
  overflow: hidden;

  @include r($tablet) {
    gap: 10px;
    max-height: 307px;
  }

  @include r($mobile) {
    max-height: 289px;
  }

  &__shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 373px;
    background: linear-gradient(180deg, rgba(19, 74, 255, 0) 39.61%, #134AFF 70.12%);
    z-index: 2;

    @include r($tablet) {
      height: 138px;
      background: linear-gradient(180deg, rgba(19, 74, 255, 0) 56.5%, #134AFF 87.49%);
    }

    @include r($mobile) {
      height: 116px;
    }
  }

  &--light {
    height: 632px;

    @include r($tablet) {
      gap: 10px;
      max-height: 332px;
    }

    @include r($mobile) {
      max-height: 320px;
    }

    .layering__shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 225px;
      background: linear-gradient(179.11deg, rgba(240, 240, 255, 0) 14.82%, #F0F0FF 38.8%);
      z-index: 2;

      @include r($tablet) {
        height: 90px;
        background: linear-gradient(180.82deg, rgba(240, 240, 255, 0) -85.26%, #F0F0FF 105.04%);
      }

      @include r($mobile) {
        height: 80px;
      }
    }
  }

  &--small {
    height: 632px;

    @include r($tablet) {
      gap: 10px;
      max-height: 332px;
    }

    @include r($mobile) {
      max-height: 290px;
    }

    .layering__shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 225px;
      background: linear-gradient(179.11deg, rgba(240, 240, 255, 0) 14.82%, #F0F0FF 38.8%);
      z-index: 2;

      @include r($tablet) {
        height: 90px;
        background: linear-gradient(180.82deg, rgba(240, 240, 255, 0) -85.26%, #F0F0FF 105.04%);
      }

      @include r($mobile) {
        height: 50px;
      }
    }
  }

  &--author {
    height: 530px;

    @include r($tablet) {
      height: 100%;
      min-height: 383px;
    }

    .layering__shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 138px;
      background: linear-gradient(179.11deg, rgba(240, 240, 255, 0) 14.82%, #F0F0FF 38.8%);

      z-index: 2;

      @include r($tablet) {
        height: 50px;
        background: linear-gradient(180deg, rgba(240, 240, 255, 0) -66.64%, #F0F0FF 104.35%);
      }

      @include r($mobile) {
        height: 45px;
      }
    }
  }
}