<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerPages %>
<div class="spline-video">
    <video controls>
        <source src="#" type="video/mp4">
    </video>
</div>
<div class="spline-container">
    <canvas class="spline-canvas"></canvas>
</div>
<main class="main">
    <section class="section section--intro section--bg animate-intro section--main pb-60 pbt-108 pbm-30 mb-100 mbt-0 mbm-20">
        <div class="intro">
            <div class="container">
                <div class="grid mbm-20">
                    <div class="grid__item grid__item--3 grid__item-tab--12 grid__item-mob--4">
                        <h1 class="title title--main anim-in-bottom-stagger">
                            <span>Цифровые направления</span>
                        </h1>
                    </div>
                    <div class="grid__item grid__item--2 grid__item-tab--6 grid__item-mob--4 pt-20 ptt-10">
                        <p class="text anim-in-bottom">
                            Эффективные цифровые решения для автоматизации процессов в контрольно-надзорной
                            деятельности, городском хозяйстве, спорте, медицине, бизнесе и аналитике.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-70 ptt-60 ptm-132 pb-90 pbt-60 pbm-0 mb-100 mbt-0 mbm-20">
        <div class="container">
            <div class="services trigger-big-cards mb-40 mbm-20">
                <div class="services__header">
                    <button class="services__item active">Контроль</button>
                    <button class="services__item">ЖКХ</button>
                    <button class="services__item">Спорт</button>
                    <button class="services__item">Медицина</button>
                    <button class="services__item">Бизнес-процессы</button>
                    <button class="services__item">Аналитика</button>
                    <button class="services__item">Инструменты</button>
                </div>
                <div class="services__content trigger-list-cards">
                    <article class="article-service article-service--cut">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Контроль</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>300+</span>
                                    <span>реализовано<br>запусков </span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Цифровизация КНД позволяет автоматизировать и повысить прозрачность процессов
                                контрольно-надзорной деятельности. Основные элементы системы включают учет контрольных
                                мероприятий, управление рисками и визуально-сетевой анализ для выявления взаимосвязей
                                между событиями и объектами.
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">Учет контрольных мероприятий</a>
                                    <a href="#" class="tag tag--light tag--slim">Автоматизация процессов</a>
                                    <a href="#" class="tag tag--light tag--slim">Мониторинга контрольных мероприятий</a>
                                    <a href="#" class="tag tag--light tag--slim">Планирование</a>
                                    <a href="#" class="tag tag--light tag--slim">Отчетность</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">ЖКХ</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>20%</span>
                                    <span>экономия<br>расходов</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Решения для цифровизации городского хозяйства позволяют улучшить управление
                                инфраструктурой и обеспечить эффективное обслуживание городских объектов. Это системы
                                планирования, контроля и оптимизации использования ресурсов в городском хозяйстве
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">АИС «Рекорд»</a>
                                    <a href="#" class="tag tag--light tag--slim">Управление спортивными процессами</a>
                                    <a href="#" class="tag tag--light tag--slim">Автоматизация и интеграция данных</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Спорт</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>50+</span>
                                    <span>моделей для<br>оценки рисков</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Цифровизация спортивных процессов помогает автоматизировать управление спортивными
                                мероприятиями, тренировочными процессами и мониторингом спортсменов. Решения направлены
                                на эффективное управление спортивными организациями и процессами.
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">АИС «СмартСпорт 2.0»</a>
                                    <a href="#" class="tag tag--light tag--slim">Решения для спортивного менеджмента</a>
                                    <a href="#" class="tag tag--light tag--slim">Автоматизайия деятельности в сфере
                                        спорта</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Медицина</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>>10</span>
                                    <span>решений<br>в здравоохранении</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Медицинские информационные системы и платформы для дистанционного взаимодействия врачей
                                и пациентов позволяют улучшить качество медицинских услуг и реабилитации. Эти решения
                                помогают автоматизировать процессы диагностики, лечения и мониторинга состояния здоровья
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">Приложение для пациентов с болезнью
                                        Паркинсона</a>
                                    <a href="#" class="tag tag--light tag--slim">Ведение реабилитаций</a>
                                    <a href="#" class="tag tag--light tag--slim">Дистанционное взаимодействие врача и
                                        пациента</a>
                                    <a href="#" class="tag tag--light tag--slim">Онлайн-проверки риска заболеваний</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Бизнес-процессы</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>7+</span>
                                    <span>рекомендаций<br>по апргейду</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Автоматизация бизнес-процессов способствует повышению эффективности работы организаций.
                                Использование low-code платформ позволяет быстро разрабатывать и внедрять решения,
                                оптимизирующие внутренние процессы
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">Заказная разработка</a>
                                    <a href="#" class="tag tag--light tag--slim">Индивидуальные решения</a>
                                    <a href="#" class="tag tag--light tag--slim">Внедрение low-code</a>
                                    <a href="#" class="tag tag--light tag--slim">Платформы СИЭР</a>
                                    <a href="#" class="tag tag--light tag--slim">Автоматизации и оптимизации
                                        бизнес-процессов</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Аналитика</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>200%</span>
                                    <span>ускорения<br>работы</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Решения по аналитике и работе с хранилищами данных помогают компаниям эффективно
                                обрабатывать большие массивы информации, а также анализировать данные для принятия
                                стратегических решений.
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">Создание хранилищ данных</a>
                                    <a href="#" class="tag tag--light tag--slim">Техническая поддержка и
                                        сопровождение</a>
                                    <a href="#" class="tag tag--light tag--slim">Повышения производительности</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-service article-service--cut article-service--light">
                        <div class="article-service__header article-service__header--row">
                            <h3 class="article-service__title title title--small">Инструменты</h3>
                            <ul class="article-service__list article-service__list--end">
                                <li class="article-service__element">
                                    <span>20+</span>
                                    <span>проектов<br>по миграции БД</span>
                                </li>
                            </ul>
                        </div>
                        <div class="article-service__info">
                            <p class="article-service__text">
                                Инструменты мониторинга и миграции СУБД позволяют управлять базами данных PostgreSQL
                                и Oracle, обеспечивая их стабильную работу и безопасную миграцию данных между системами.
                                Решения по аналитике и работе с хранилищами данных помогают компаниям эффективно
                                обрабатывать большие массивы информации, а также анализировать данные для принятия
                                стратегических решений.
                            </p>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Ключевые<br>направления</h4>
                                <div class="article-service__tags article-service__tags--full tags">
                                    <a href="#" class="tag tag--light tag--slim">Диагностика и мониторинг</a>
                                    <a href="#" class="tag tag--light tag--slim">Миграции приложений из Oracle в PostgreSQL</a>
                                    <a href="#" class="tag tag--light tag--slim">Высокоскоростная загрузка данных</a>
                                    <a href="#" class="tag tag--light tag--slim">Высокоскоростная загрузка данных</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-service__footer">
                            <a href="#" class="article-service__button button button--light">смотреть подробнее</a>
                            <div class="article-service__detail">
                                <h4 class="article-service__head title title--extra-small">Наши<br>проекты</h4>
                                <div class="projects">
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-9.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-22.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-13.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-10.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </div>
                                    <div class="projects__item">
                                        <img src="./assets/images/logo-12.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section trigger-form pt-70 ptt-60 pb-70 pbt-60 pbm-52 mb-100 mbt-0 mbm-20">
        <div class="container">
            <div class="grid">
                <div class="grid__item grid__item--3 grid__item-tab--6 grid__item-mob--4 order-tab--1 mbm-150">
                    <h2 class="title trigger-rotate">
                        Готовы обсудить сотрудничество?
                    </h2>
                </div>
                <div class="grid__item grid__item--2 grid__item-tab--6 grid__item-mob--4 order-tab--2 desktop-hidden mob-hidden"></div>
                <div class="grid__item grid__item--2 grid__item-tab--6 grid__item-mob--4 order-tab--2 mbt-10">
                    <div class="card card--offset card--height">
                        <div class="tabs">
                            <div class="tabs__header">
                                <button class="tabs__item active">Связаться</button>
                                <button class="tabs__item">Контакты</button>
                            </div>
                            <div class="tabs__content">
                                <div class="tabs__element active">
                                    <form action="1" class="form">
                                        <label class="form__item">
                                            <input type="text" class="input" name="NAME" placeholder="Имя и Фамилия">
                                        </label>
                                        <label class="form__item">
                                            <input type="text" class="input" name="ORGANISATION"
                                                   placeholder="Название организации">
                                        </label>
                                        <label class="form__item">
                                            <input type="email" class="input" name="EMAIL" placeholder="Почта">
                                        </label>
                                        <label class="form__item">
                                            <input type="tel" class="input" name="PHONE" placeholder="Телефон">
                                        </label>
                                        <label class="form__item form__item--area">
                                            <textarea class="input input--area" name="COMMENT"
                                                      placeholder="Комментарий"></textarea>
                                            <span class="form__max">0/1000</span>
                                        </label>
                                        <label class="form__item form__item--meta">
                                            <input type="checkbox" class="checkbox" name="POLICY">
                                            <span>
                                                Я даю согласие на обработку моих <a href="#">персональных данных</a> в соответствии с <a
                                                    href="#">условиями политики конфиденциальности</a>
                                            </span>
                                        </label>
                                    </form>
                                </div>
                                <div class="tabs__element">
                                    <div class="contacts-block">
                                        <article class="article-contact">
                                            <h3 class="article-contact__title">Центр разработки</h3>
                                            <p class="article-contact__text">Москва, Графский переулок, д. 14, корп.
                                                2</p>
                                            <div class="article-contact__links">
                                                <a href="tel:+74957877040"
                                                   class="article-contact__link">
                                                    +7 (495) 787-70-40
                                                </a>
                                                <a href="mailto:develop@fors.ru"
                                                   class="article-contact__link article-contact__link--small">
                                                    develop@fors.ru
                                                </a>
                                            </div>
                                        </article>
                                        <article class="article-contact">
                                            <h3 class="article-contact__title">Центр техподдержки</h3>
                                            <p class="article-contact__text">Москва, Графский переулок, д. 14, корп.
                                                2</p>
                                            <div class="article-contact__links">
                                                <a href="tel:+74957877040"
                                                   class="article-contact__link">
                                                    +7 (495) 787-70-40
                                                </a>
                                                <a href="mailto:support@fors.ru"
                                                   class="article-contact__link article-contact__link--small">
                                                    support@fors.ru
                                                </a>
                                            </div>
                                        </article>
                                        <article class="article-contact">
                                            <h3 class="article-contact__title">Учебно-консультационный центр</h3>
                                            <p class="article-contact__text">Москва, Графский переулок, д. 14, корп.
                                                2</p>
                                            <div class="article-contact__links">
                                                <a href="tel:+74957877040"
                                                   class="article-contact__link">
                                                    +7 (495) 787-70-40
                                                </a>
                                                <a href="mailto:edu@fors.ru"
                                                   class="article-contact__link article-contact__link--small">
                                                    edu@fors.ru
                                                </a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item-tab--4 order-tab--1 desktop-hidden mob-hidden"></div>
                <div class="grid__item grid__item--1 grid__item-tab--2 grid__item-mob--1 grid__item--end order-tab--1 mbt-9">
                    <div class="card widget-slider mb-auto">
                        <div class="widget-slider__top">
                            <div class="pagination pagination--slim">
                                <div class="pagination__item active"></div>
                                <div class="pagination__item"></div>
                            </div>
                        </div>
                        <div class="widget-slider__bottom">
                            <p class="widget-slider__numbers numbers numbers--dark">1/2</p>
                            <p class="widget-slider__caption">подскажем решение</p>
                        </div>
                    </div>
                    <button class="button-circle button-circle--right tab-hidden" type="submit" data-btn
                            data-form-submit>
                        <svg class="button-circle__icon">
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                        <span>Отправить</span>
                    </button>
                    <button class="button-circle button-circle--right tab-hidden hidden" data-btn>
                        <svg class="button-circle__icon">
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                        <span>Все<br>контакты</span>
                    </button>
                </div>
                <div class="grid__item grid__item--1 grid__item-tab--12 grid__item-mob--4 grid__item--end order-tab--2 desktop-hidden">
                    <button class="button-circle button-circle--big button-circle--right desktop-hidden" type="submit"
                            data-btn-mob
                            data-form-submit>
                        <svg class="button-circle__icon">
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                        <span>Отправить</span>
                    </button>
                    <button class="button-circle button-circle--big button-circle--right desktop-hidden hidden"
                            data-btn-mob>
                        <svg class="button-circle__icon">
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                        <span>Все<br>контакты</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
</body>
</html>
