<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerPages %>
<div class="spline-container mob-hidden">
    <canvas class="spline-canvas"></canvas>
</div>
<main class="main">
    <section class="section section--event section--bg animate-intro-left mbm-20">
        <div class="intro">
            <div class="container">
                <div class="grid grid--end mbm-20">
                    <div class="grid__item grid__item--6 grid__item-tab--12 grid__item-mob--4 mbm-20">
                        <p class="subtitle anim-in-bottom" data-anim-delay="0.1">Новости и события</p>
                        <h1 class="title title--main anim-in-bottom-stagger">
                            <span>Форс представит на PGConf.СПб 2024 свою передовую разработку PGARM</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section trigger-detail-page pt-70 pbt-60 mbm-20">
        <div class="container">
            <div class="grid">
                <div class="grid__item--3 grid__item-tab--12 grid__item-mob-4 mbt-60 mbm-20">
                    <div class="detail-ui detail-ui--row">
                        <div class="action-tag">
                            <img class="action-tag__icon" src="./assets/images/icon-energy.svg" alt="">
                            <span>Событие</span>
                        </div>
                        <time class="detail-ui__time">12.09.2024</time>
                    </div>
                </div>
                <div class="grid__item--3 grid__item-tab--12 grid__item-mob-4">
                    <div class="editor">
                        <div class="partner-card">
                            <div class="partner-card__detail">
                                <div class="partner-card__info">
                                    <time class="partner-card__time" datetime="2024.10.01">1 окт 2024</time>
                                    <picture class="partner-card__picture tab-hidden-min">
                                        <img src="./assets/images/partner-1.png" alt="">
                                    </picture>
                                    <p class="partner-card__description">Место проведения</p>
                                    <p class="partner-card__text">
                                        Гостиница «Санкт-Петербург»,<br>
                                        г.Санкт-Петербург, Пироговская<br>
                                        набережная, д. 5/2
                                    </p>
                                </div>
                                <picture class="partner-card__picture mob-hidden">
                                    <img src="./assets/images/partner-1.png" alt="">
                                </picture>
                            </div>
                            <a href="#" class="partner-card__button button">Зарегистрироваться</a>
                        </div>
                        <br>
                        <br>
                        <h3>
                            Эксперты Форс примут участие в Международной технической конференции по открытой СУБД
                            PostgreSQL от компании Postgres Professional, которая состоится 1 октября в Санкт-Петербурге
                        </h3>
                        <br>
                        <p>
                            Компания выступит информационным партнером мероприятия.
                            <br>
                            Компания выступит информационным партнером мероприятия.
                            Ежегодно конференция собирает в городах России более 1000 ИТ-специалистов. Этой
                            осенью <a href="#">PGConf.СПб 2024</a> объединит на одной площадке постгресистов Северной
                            столицы. В фокусе
                            — актуальные вопросы эксплуатации и поддержки СУБД Postgres, миграции, настройки, создания
                            отказоустойчивых и масштабируемых систем на этой платформе.
                        </p>
                        <br>
                        <br>
                        <figure class="media-block">
                            <picture>
                                <source srcset="./assets/images/news-img-mob.png" media="(max-width: 767px)">
                                <img src="./assets/images/news-img.png" alt="">
                            </picture>
                            <figcaption>Заголовок фото (опционально)</figcaption>
                        </figure>
                        <br>
                        <br>
                        <p>
                            Форс представит на конференции новое решение <a href="#">PGARM</a> — передовую разработку
                            для диагностики производительности и мониторинга баз данных PostgreSQL. Это единый
                            инструмент, использующий собственный алгоритм для быстрого сбора статистики и графического
                            представления её интерпретации в разрезе всех компонентов систем на платформе PostgreSQL.
                            Мониторинг запросов осуществляется в процессе их выполнения. Панель производительности даёт
                            общее представление о нагрузке и запасах системных ресурсов баз данных и операционных
                            систем.<br>
                            <br>
                            В течение всего дня на стенде Форс будет проводиться демонстрация возможностей и преимуществ
                            PGARM.<br>
                            <br>
                            Приглашаем Вас посетить наш стенд — 1 октября, гостиница «Санкт-Петербург».<br>
                            <br>
                            Мы расскажем о комплексе услуг, которые предоставляет компания по направлению СУБД, а также
                            о том, как решаем даже самые сложные задачи!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="footer__separator"></div>
    <div class="container">
        <div class="footer__wrapper">
            <div class="site-nav anim-in-bottom-stagger">
                <div class="site-nav__item">
                    <h4 class="site-nav__title">О компании</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Новости</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Проекты</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Решения</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Услуги</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Центр технической поддержки</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Разработка информационных систем</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Обучение</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Импортозамещение</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Консалтинг</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Карьера</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Вакансии</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Начало карьеры</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Команда единомышленников</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Атмосфера</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Вопросы и ответы</a>
                        </li>
                    </ul>
                </div>
                <div class="site-nav__item">
                    <h4 class="site-nav__title">Контакты</h4>
                    <ul class="site-nav__list">
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Где нас найти</a>
                        </li>
                        <li class="site-nav__element">
                            <a href="#" class="site-nav__link">Контакты для прессы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__info">
                    <a href="#" class="footer__logo logo mob-hidden">
                        <img src="./assets/images/logo-small.svg" alt="">
                    </a>
                    <p class="footer__text">1991–2024. © ФОРС</p>
                    <p class="footer__text footer__text--copyright">© 2024,  Zephyr / design <br class="tab-hidden-min"> by <a href="#">Roman Kvartalnov</a></p>
                </div>
                <div class="footer__meta">
                    <a href="#" class="footer__text">+7 495 787 70 40 / info@fors.ru</a>
                    <a href="#" class="footer__text">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
    <picture class="footer__cube">
        <img src="./assets/images/menu-cube.png" alt="">
    </picture>
</footer>
<%= htmlWebpackPlugin.options.widgets.temp %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
</body>
</html>
