.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 758px;
  clip-path: inset(0 0 0 0);

  @include r($tablet) {
    max-height: 100%;
    margin-bottom: 50px;
    clip-path: none;
  }

  &.active {
    clip-path: none;

    .timeline__shadow {
      bottom: calc(-100vh + 824px);

      @include r($tablet) {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }

    @include r($tablet) {
      flex-direction: row;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    min-height: 168px;
    transition: .2s linear;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $bg;
      opacity: .9;
      transition: .2s linear;
    }

    @include r($tablet) {
      flex-shrink: 1;
      gap: 10px;
      width: fit-content;
      min-height: auto;
      height: auto;
    }

    &:not(:last-of-type) {
      .timeline__content {
        padding-bottom: 30px;

        @include r($tablet) {
          padding-right: 10px;
          padding-bottom: 34px;
        }
      }
    }

    &:last-of-type {
      min-height: auto;
    }

    @include r($tablet) {
      flex-direction: column;
      min-height: auto;
    }

    &.active {
      transition: .2s linear;

      &::after {
        opacity: 0;
      }

      .timeline__date {
        font-size: 82px;
        color: $main1;

        @include r($tablet) {
          font-size: 42px;
          line-height: 57px;
        }
      }

      .timeline__text {
        color: $main1;
      }

      .timeline__content {
        &::before {
          background-color: $main1;
        }

        &::after {
          background: repeating-linear-gradient(
                          to bottom,
                          $main1,
                          $main1 3px,
                          transparent 3px,
                          transparent 10px
          );

          @include r($tablet) {
            background: repeating-linear-gradient(
                            to right,
                            $main1,
                            $main1 3px,
                            transparent 3px,
                            transparent 10px
            );
          }
        }
      }
    }
  }

  &__date {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 210px;
    font-family: $font-main;
    font-size: 70px;
    font-weight: 400;
    line-height: 91px;
    text-align: center;
    color: $gray_light;

    @include r($tablet) {
      justify-content: flex-start;
      font-size: 42px;
      line-height: 57px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 42px;

    @include r($tablet) {
      flex-direction: row;
      padding-left: 0;
      height: 100%;
    }

    &::before {
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $gray_light;

      @include r($tablet) {
        top: initial;
        bottom: 0;
        width: 3px;
        height: 30px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      bottom: 0;
      width: 5px;
      background: repeating-linear-gradient(
                      to bottom,
                      $gray_light,
                      $gray_light 3px, /* Высота прямоугольника */
                      transparent 3px,
                      transparent 10px /* Высота прямоугольника + отступ */
      );

      @include r($tablet) {
        left: 0;
        top: initial;
        background: repeating-linear-gradient(
                        to right,
                        $gray_light,
                        $gray_light 3px, /* Высота прямоугольника */
                        transparent 3px,
                        transparent 10px /* Высота прямоугольника + отступ */
        );
        width: 100%;
        height: 5px;
      }
    }
  }

  &__text {
    font-family: $font-accent;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: $gray_light;

    @include r($tablet) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__switcher {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    @include r($tablet) {
      display: none;
    }

    svg {
      display: flex;
      width: 32px;
      height: 32px;
      fill: $main1;
    }
  }

  &__picture {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 199px;

    @include r($tablet) {
      width: 289px;
      height: 222px;
      border-radius: 25px;
      overflow: hidden;
    }

    img {
      @include coverFull();
    }
  }

  &--small {
    .timeline__item {
      .timeline__text {
        @include r($tablet) {
          min-width: 289px;
        }
      }
      .timeline__date {
        justify-content: flex-start;
        font-size: 42px;
        font-weight: 400;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}